.movie-container {
  font-family: cursive;
  background-color: #373737;
}
.nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-3d-hover {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.button-3d-hover:hover {
  background-color: #0056b3;
}

/* First Page */
.first-page {
  text-align: center;
  margin-top: 280px;
}

.back {
  margin-top: 20px;
}

/* Navbar */
nav {
  background-color: #000000e8;
  font-family: cursive;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-left: 100px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.logo {
  margin-left: -20px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(220, 206, 0);
  transition: color 0.3s ease;
}
nav ul li:last-child {
  margin-right: 80px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #ffcc00; /* Change color on hover */
}
