/* Global styles */
body {
  margin: 0;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background-color: #373737;
  background-image: url(./image/kl.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}

/* Navbar styles */
.nav {
  background-color: #ffffff33;
  color: #ffd700;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  margin: 0;
  font-size: 24px;
}

/* MovieSearch component styles */
.MovieSearchContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MovieSearchForm {
  margin-bottom: 20px;
}

.MovieSearchForm input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.MovieSearchForm button {
  width: 80px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.MovieDetails {
  margin-top: 20px;
}

.MovieDetails h2 {
  margin-bottom: 10px;
}

.MovieDetails p {
  margin: 5px 0;
}
#title1 {
  color: black;
}
.MovieDetails img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
